body {
  background-color: black;
  font-family: "Ubuntu Light", helvetica, sans-serif;
  color: white
}

h1 {
  text-align:center;
  color: white;
}

h2 {
  text-align:center;
  color: gray;
}

nav {
  text-align:center;
  color: gray;
}

#canvas-container {
    width: 100%;
    text-align:center;

    canvas {
       display: inline;
    }
}

#instructions-container{
    display: flex;
    overflow: hidden;
    width: 100%;
}

#instructions{
    text-align:center;
    width: 20%;
}

.spacer{
    width: 40%;
}
